<!DOCTYPE html>
<html>
{% load static %}
    <link href="{% static 'CSS/how-to-menu.css' %}" rel="stylesheet">
    <script src="{% static 'JavaScript/menu_scripts.js' %}"></script>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1">
    </head>
  <body style='background-color: lightblue'>
      <h1 class="center">Transfer Learning</h1>
      <p style="position: relative; left:95%; top:-50px; width: 60px; margin: 0 0 0 0"><a href="{% url 'logout' %}">Log Out</a></p>
      <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/">Home</a>
        <a href="/about_page/">About</a>
        <a href="/how-to/">How To</a>
        <a href="/create-model/dataset_type/">Create Model</a>
        <a href="/contact-us/">Contact Us</a>
      </div>
      <div id="main">
        <button class="openbtn" onclick="openNav()">&#9776; Open Menu</button>
      </div>
      <div class="middle-page" style="height: 700px; width:70%; background: white; position: relative; left: 20%;border-radius: 25px">
          <div class="topnav" id="myTopnav">
              <a href="/how-to/">Home (How To)</a>
              <a href="/how-to/how-to-create-model/">Create a Model</a>
              <a href="/how-to/how-to-sort-model/">Sorting a Model</a>
              <a href="/how-to/how-to-plot-data/" class="active">Plotting data</a>
              <a href="/how-to/how-to-train-model/">Training a Model</a>
              <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                  <i class="fa fa-bars"></i>
              </a>
          </div>
      </div>
  </body>
</html>