{% extends "master.html" %}

{% block title %}
{% endblock %}
{% block content %}
      <div class="content-box" style="position: relative; background-color:white;
      width: 60%; height: 600px; top:70px; left:23% ;border-radius: 25px">
        <h3 style="margin: auto; width:25%; padding:10px;">Most Recent Activity</h3>
        <br>
        {% if display_models %}
            <div style="position: relative; left: 20px; top:10%">
                <h3>Unsorted Data Models</h3>
                <ul>
                    {% for x in models %}
                        <li><a href="details/{{ x.id }}" class="button">{{ x.model_name }} - {{ x.date_created }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% else %}
          <div style="position: relative; left:20px; top:10%">
              <h3>Unsorted Data Models</h3>
            <p style="position: relative; top: 20px">You have no recent activity creating a model</p>
          </div>
        {% endif %}
        {% if display_sorted_models %}
            <div style="position: relative; right:-40%; top:-3%; width: 250px; margin: 0">
                <h3>Sorted Data Models</h3>
                <ul>
                    {% for x in sorted_models %}
                        <li><a href="sorted_details/{{ x.id }}" class="button">{{ x.model_name }} - {{ x.date_created }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% else %}
          <div style="position: relative; right:-40%; top:-3%">
                <h3>Sorted Data Models</h3>
                <p style="position: relative; top: 20px">You have no recent activity sorting a model</p>
          </div>
        {% endif %}
        {% if display_img_models %}
          <div style="position: relative; right: -70%; top: -16%; width: 250px; margin: 0">
              <h3 style="margin: 1px">Image Models</h3>
              <ul>
                  {% for x in img_models %}
                    <li><a href="image_details/{{ x.id }}" class="button">{{ x.img_name }} - {{ x.date_created }}</a></li>
                  {% endfor %}
              </ul>
          </div>
        {% else %}
          <div style="position: relative; right: -70%; top: -16%; width: 250px; margin: 0">
              <h3>Image Models</h3>
              <p style="position: relative; top: 20px">You have no recent activity creating a Image model</p>
          </div>
        {% endif %}
      </div>
{% endblock %}