{% extends "master.html" %}

{% block title %}
{% endblock %}
{% block content %}
  {% if display %}
      <div class="content-box" style="position: relative; background-color:white;
      width: 60%; height: 600px; top:70px; left:23% ;border-radius: 25px">
        <h3 style="margin: auto; width:25%; padding:10px;">Most Recent Activity</h3>
        <br>
        <br>
        <div style="position: relative; left: 20px">
          <ul>
            {% for x in models %}
                <li><a href="">{{ x.model_name }} - {{ x.date_created }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
  {% else %}
      <div class="content-box" style="position: relative; background-color:white;
        width: 60%; height: 600px; top:70px; left:23% ;border-radius: 25px">
          <h3 style="margin: auto; width:25%; padding:10px;">Most Recent Activity</h3>
          <p>No models to display</p>
      </div>
  {% endif %}
{% endblock %}