{% extends "master.html" %}
    {% block content %}
        <div style="position: relative; background-color:white;
        width: 60%; height: auto; top:70px; left:23% ;border-radius: 25px; padding: 10px">
            <h3 style="margin: auto; width:25%; padding:10px;">Creating Image Model</h3>
            <form method="POST" enctype="multipart/form-data">
              <fieldset>
                  {% csrf_token %}
                  {{ form.as_p }}
                  <button type="submit" class="btn btn-primary">Submit</button>
                </fieldset>
            </form>
          </div>
    {% endblock %}