{% extends "master.html" %}

{% block content %}
    <div class="content-box" style="position: relative; background-color:white;
      width: 60%; height: 600px; top:70px; left:23% ;border-radius: 25px">
        <h1 style="position: relative; left:40% ;border-radius: 25px">{{ data.model_name }}</h1>
        <br>
        <div style="position: relative; left:35% ;border-radius: 25px">
            <h3>{{ data.date_created }}</h3>
            <p>{{ data.file_type }}</p>
            <p>{{ data.file_data_type }}</p>
            <p>{{ data.file }}</p>
            <br>
            <br>
            <form action='{% url "plot_data" %}' method="get">
                {% csrf_token %}
                <button style="position: relative; left: 40%; bottom:-120px; margin: auto; width:25%; padding:10px"
                    type="submit">Data Visualisation</button>
            </form>
            <form action='{% url "training" %}' method="get">
                        <button style="position: relative; left: 40%; bottom:-150px; margin: auto; width:25%; padding:10px"
                            type="submit">Start training</button>
            </form>
        </div>
      </div>
{% endblock %}