<!DOCTYPE html>
<html>
{% load static %}
<link href="{% static 'CSS/master.css' %}" rel="stylesheet">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>>
<body style="background-color: lightblue">
  {% block content %}
  {% if form.errors %}
    <p>Your username and password didn't match. Please Try</p>
  {% endif %}
  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesnt have access to this page. To proceed, please login with an account that has access</p>
    {% else %}
      <p>Please login to see this page</p>
    {% endif %}
  {% endif %}
  <div class="content-box" style="position: relative; background-color:white;
  width: 60%; height: 200px; top:70px; left:23% ;border-radius: 25px">
      <form style="position: relative; left: 28%; top: 30%" method="post" enctype="multipart/form-data" >
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="login">
      </form>
      <p style="position: relative; top: 13%; left: 50%"><a href="{% url 'password_reset' %}">Lost password</a></p>
  </div>

  {% endblock %}
</body>
</html>